.mypage-title {
    margin-top: 200px;
    display: flex;
    font-size: 36px;
    font-weight: bold;
    padding-left: 320px;
}

.mypage-container {
    margin-left: 320px;
    display: flex;
}


.mypage-sidebar {
    width: 200px;
    height: 60px;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    margin-top: 50px; /* 마진 추가 */
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding : 15px 0px 0px 10px;
    font-size : 20px;
    font-weight : bold;
}


.mypage-sidebar ul {
    list-style-type: none;
    padding: 0;
}

.mypage-sidebar ul li {
    margin: 10px 0;
    cursor: pointer;
}

.mypage-content {
    width:1300px;
    padding: 40px; /* 패딩 추가 */
    background-color: #ffffff;
    border-radius: 8px; /* 모서리 둥글게 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
    margin: 50px; /* 마진 추가 */
}

.mypage-content h2 {
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 0;
    margin-bottom: 40px; /* 여백 추가 */
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 480px;
    padding: 10px; /* 패딩 조정 */
    box-sizing: border-box;
    border: 1px solid #ddd; /* 테두리 추가 */
    border-radius: 4px; /* 모서리 둥글게 */
}

.submit-button {
    width : 100px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* 배경색 전환 효과 추가 */
}

.submit-button:hover {
    background-color: #0056b3; /* 호버 시 배경색 */
}

.message {
    margin-top: 20px;
    font-size: 1em;
    color: black;
}

