@tailwind base;
@tailwind components;
@tailwind utilities;


.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  nav {
    height: 80px;
  }
  
  .content {
    flex: 1;
    background-color: #F7FAFF;
    padding: 1rem;
    overflow-y: auto;
    margin-top: 80px; /* 네비게이션 바의 높이만큼 콘텐츠를 아래로 밀어줍니다 */
  }